{% extends 'BooksReviewApp/Menu.html' %}
    {% block content %}
    <div class="center">
        <div class="container">
            <h1>Sign Up</h1>
            <div style="width:30%">
                <form method="POST" enctype="multipart/formdata">
                    {%csrf_token%}
                      {% include "BooksReviewApp/formtemplate.html" %}  
                    <button class="btn btn-primary" style="width:100%">Sign Up</button>
            </div>
            </form>
        </div>
    </div>

     {% endblock %}
