 {% extends 'BooksReviewApp/Menu.html' %}
    {% block content %}
    <div class=center>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.errors }}
        </div>
    {% endif %}

        <div class="container">
            <h1>Sign In</h1>
            <div style="width:30%">
                <form method="POST" enctype="multipart/formdata">
                    {%csrf_token%}
                      {% include "BooksReviewApp/formtemplate.html" %}  
                    <button class="btn btn-primary" style="width:100%">Sign In</button>
            </div>
            </form>
        </div>
    </div>
    {% endblock %}


